*.settings
*.class
*.mymetadata
*.log
*.bak
.settings/*
.checkstyle
classes/
Thumbs.db
*.project
.idea/*
.gradle/*
build/*
gradle/*
*/build/generated/*
*/build/intermediates/*
*/build/outputs/*
*/build/tmp/*
*.iml
*.properties
